<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu" color="light" ></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-back-button color="light" text="" icon="arrow-back-circle-outline" size="large"></ion-back-button>>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card color="light">
<h1 id="header">LOGIN</h1>
<div class="inp1">
  <ion-input placeholder=" Email or ID" inputmode="text"></ion-input>
</div>
<div class="inp2">
  <ion-input placeholder=" Password" pattern="password" type="password"></ion-input>
</div>
<ion-button id="btn1" shape="round">login</ion-button>
</ion-card>
</ion-content>
