<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu" color="light" ></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-back-button color="light">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 id="header">SIGN UP</h1>
<ion-button id="btn1" size="large" shape="round">I am a Customer</ion-button>
<ion-button id="btn2" size="large" shape="round">I am a Provider</ion-button>
</ion-content>
