<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu" color="primary" ></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button color="primary" text="" icon="arrow-back-circle-outline" size="large"></ion-back-button>>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" class="card2"> <img src="https://cdn.pixabay.com/photo/2018/03/10/12/00/paper-3213924_1280.jpg"></ion-card>
  <ion-card color="light" class="card1">
    <h1 id="header">About us</h1>
    <p class="ion-text">This project is created in the design thinking
      workshop 2021.
      It's a cooperation between Valence, France and Hamburg, Germany.
      Our group designed this application for
      the topic smart sustainable living.
     </p>
  </ion-card>
  <ion-card class="card2"><img src="https://www.hamburg.de/contentblob/9272566/02bcd0584241ae65a7149ddcc0136582/data/otto-group-ausbildung-rawezh.jpg"></ion-card>
  <ion-card class="card2"><img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_1280.jpg"></ion-card>
  <ion-card class="card4"><img src="https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_1280.jpg"></ion-card>
  <ion-card color="light" class="card5">
    <h2 id="contact">Contact</h2>
    <p>Telephone number: 0009546863513</p>
    <p>Email: rawezh@FairProducts.com</p>
    <p>Adresse: happy street 31, Hamburg, Germany</p>
  </ion-card>
</ion-content>
