<ion-app>
  <ion-menu side="start" menuId="menu" contentId="main"
  type="reveal">
    <ion-content>
      <div class="menu"></div>
      <div class="header-content">
        <ion-label>
          <h2 class="menuT">
            Menu
          </h2>
        </ion-label>
      </div>

      <ion-list class="item-list" lines="none">
        <ion-item routerLink="/products">
          Products
        </ion-item>
        <ion-item routerLink="/home">
          Start page
        </ion-item>
        <ion-item routerLink="/search">
          Search for Products
        </ion-item>
        <ion-item routerLink="experience">
          Customer Experience
        </ion-item>
        <ion-item routerLink="aboutus">
          About us
        </ion-item>
        <ion-item>
          <ion-button id="signin" size="large" shape="round" routerLink="loginfrom-menu">
            Sign in
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
    <p class="some">Something about the company
      @we_are_the_best</p>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
