<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-menu-button menu="menu" color="primary" ></ion-menu-button>
    </ion-buttons>

  <ion-buttons slot="end">
    <ion-button id="btn1" fill="outline" color="primary" size="large" routerLink="/login">
     SIGN UP
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle id="header">Welcome to</ion-card-subtitle>
      <ion-card-title id="title">The Animal Product Finder</ion-card-title>
    </ion-card-header>
    <ion-card-content id="text">
      Fair Trade certified products work to support the
      sustainability of farmland in various regions across
      the globe, as well as fair wages and safe working
      conditions for farmers. In order to be considered
      a Fair Trade product, officially, certification is
      required so that a third party system can verify
      the integrity of the source.
      This is an application to search for fair Animal
      products nearby. Support your local farmer.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-img src="https://cdn.pixabay.com/photo/2016/11/14/02/58/agriculture-1822450_1280.jpg"></ion-img>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title id="title2">What Product are you searching for</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-searchbar placeholder="Write something"></ion-searchbar>
        <ion-button id="btn2">SEARCH</ion-button>
      </ion-card-content>
  </ion-card>

<ion-card>
  <ion-img src="https://cdn.pixabay.com/photo/2017/08/14/17/12/cows-2641195_1280.jpg"></ion-img>
</ion-card>

</ion-content>
